@import url('https://fonts.googleapis.com/css?family=Grand+Hotel');

* {
	font-family: 'Open Sans Condensed', sans-serif;
}

h3 {
	text-align: center;
}

header {
    width: 100%;
	background-image: url(../img/header.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 550px;
}

header h4 {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #fff;
	font-size: 3em;
	width: 280px;
	font-weight: 700;
	text-align: left;
	top: 5%;
	left: 5%;
	padding-left: 10px;
	background: #564d65; /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(left top, #564d65, #1b998b); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(bottom right, #564d65, #1b998b); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(bottom right, #564d65, #1b998b); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to bottom right, #564d65, #1b998b); /* Standard syntax */
}

.title {
	padding: 45px;
}

.links, .social {
	vertical-align: baseline;
	font-weight: 600;
	font-size: 1.3em;
	text-align: right;
	height: 55px;
	background: #564d65; /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(left top, #564d65, #1b998b); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(bottom right, #564d65, #1b998b); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(bottom right, #564d65, #1b998b); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to bottom right, #564d65, #1b998b); /* Standard syntax */
}

ul {
	list-style-type: none;
	padding:15px;
	margin: 0;
}

.links li, .social li {
	display: inline;
	margin: 8px;
}

.links li a, .social li a {
	color: #fff;
}

.links li a:hover, .social li a:hover, header h4:hover {
	color: #ed217c;
	text-decoration: none;
}

ul.nav {
	margin: 0 5%;
}

ul.nav li a{ 
	color: #373737;
}

.social {
	text-align: center;
}

.navbar-sections
{
    position: absolute;
    width: 20%;
    left: 0;
    text-align: center;
    margin:0 auto;
}

.tab-pane {
	padding: 0 8px;
}

.tab-pane img {
	max-width: 95%;
	width: 95%;
	margin: 5%;
	box-shadow: 0 3px 10px #333;
}

#bio {
	background: #DCD0C0;
	padding: 2%;
}

#bio h4, #inspirational p {
	text-align: center;
}

#bio p {
	font-size: 1.5em;
}

#welcome {
	height: 400px;
	text-align: center;
}

#welcome h2 {
	color: #564d65;
	text-align: center;
	font-size: 6rem;
}


footer {
	padding: 20px 0;
	text-align: center;
	font: 'Euphoria Script', cursive;
	background-color: #ed217c;
}
